{% extends "layout.html" %}
{% block title %}Choose Clustering Method{% endblock %}

{% block head %}
{{ super() }}
<script type="text/javascript" src="/static/jsonform/deps/underscore.js"></script>
<script type="text/javascript" src="/static/jsonform/deps/opt/jsv.js"></script>
<script type="text/javascript" src="/static/jsonform/lib/jsonform.js"></script>
{% endblock %}

{% block body %}
  <h3>Select a Clustering Method:</h3>
  <div class="form-group row">
    <label for="algorithms-select" class="col-form-label col-sm-3">Select Labeling Method</label>
    <div class="col-auto">
      <select id="algorithms-select" class="form-control">
        <option disabled selected value> -- select an option -- </option>
        {% for algo in algo_data %}
        <option value="{{ loop.index0 }}">{{ algo.name }}</option>
        {% endfor %}
      </select>
    </div>
    <!-- pass selected model id to next stage -->
  </div>
  <form id="algorithm-form" method="post">
    <div id="json-form"></div>
    <!-- jsonform will insert its fields before the button and hidden fields,
          hidden algorithm field will match the select above, which is outside the form -->
    <input id="algorithm" name="algorithm" type="hidden">
    <input id="model_id" name="model_id" type="hidden" value="{{ model_id }}">
    <div class="form-group row">
      <label for="stopping-criterion" class="col-form-label col-sm-3">Select Stopping Criterion</label>
      <div class="col-auto">
        <select id="stopping-criterion" name="stopping-criterion" class="form-control">
        {% for criterion in stopping_criteria %}
          <option>{{ criterion.__name__ }}</option>
        {% endfor %}
        </select>
      </div>
    </div>
        <div class="form-group row">
      <label id="parameter-label" for="stopping-criterion-parameter" class="col-form-label col-sm-3">Select Stopping Criterion</label>
      <div class="col-auto">
        <input type="text" id="stopping-criterion-parameter" name="stopping-criterion-parameter" class="form-control">
      </div>
    </div>
    <div class="form-group row">
      <label for="labeling-method" class="col-form-label col-sm-3">Select Labeling Method</label>
      <div class="col-auto">
        <select id="labeling-method" name="labeling-method" class="form-control">
          <!--<option disabled selected value>Choose Method</option>-->
        {% for method in labeling_methods %}
          <option>{{ method.__name__ }}</option>
        {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="labeling-source" class="col-form-label col-sm-3">Select Labeling Source</label>
      <div class="col-auto">
        <select id="labeling-source" name="labeling-source" class="form-control">
          <!--<option disabled selected value>Choose Method</option>-->
        {% for source in labeling_sources %}
          <option>{{ source }}</option>
        {% endfor %}
        </select>
      </div>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-info">Run</button>
    </div>
  </form>


  <script type="text/javascript">
    $(document).ready(
      function(){
        var algos = {{algo_data | tojson}};
        console.log(algos);

        var update_stopping_criteria_form = function() {
          selected_stopping_criteria = $('#stopping-criterion').val();
          //console.log(selected_stopping_criteria);
          var paramNames = {SizeCriteria:'Size of Cluster', InOutDegreeCriteria: 'In/Out Rank', CyclometricCriteria: 'Cyclometric Complexity'};
          if (selected_stopping_criteria !== undefined) {
             $('#parameter-label').text(paramNames[selected_stopping_criteria]);
          }
        };

        var update_form = function() {
          //console.log($('#algorithms-select').val());
          selected_algo = algos[$('#algorithms-select').val()];

          if (selected_algo !== undefined) {
            // make hidden field that actually submits the value match the 
            $('#algorithm').val(selected_algo.name);
            console.log(JSON.stringify(selected_algo.form));
            $('#json-form').empty().jsonForm(selected_algo.form);
          } else {
            console.log('Got no selection');
          }
        }
        // to deal with users clicking 'back' correctly
        if ($('#algorithms-select').val() != '') {
          update_form();
        }
        if ($('#stopping-criterion').val()) {
          update_stopping_criteria_form();
        }
        $('#algorithms-select').change(update_form);
        $('#stopping-criterion').change(update_stopping_criteria_form);

        update_stopping_criteria_form() // update on document ready
    });
  </script>
{% endblock %}
